/*
Colors palette:
Primary color :   (dynamic purple) #8736AA
                  (darker) #512066
                  (lighter) #B786CC
                  (white) #FFFDFA
Secondary color:  (dark purple) #4B016E
Accent color:     (yellow) #F3AE18
                  (darker) #92680E
                  (lighter) #F8CE74
*/
/* FONT */
body {
  background-color: #FFFDFA;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.688;
  color: #181A18;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #181A18;
  line-height: 1.2;
  text-align: center;
}

h2, h3 {
  font-family: "Roboto", sans-serif;
}

h2 {
  font-size: 1.575em;
  font-weight: 500;
  color: #181A18;
  line-height: 1.4;
}

h3 {
  font-size: 1.25em;
  font-weight: 400;
  color: #181A18;
  line-height: 1.6;
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  font-weight: 500;
  text-transform: uppercase;
  color: #B88C46;
  line-height: 1.4;
  margin: 1em 0 0 0;
}

h5 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.625em;
  font-weight: 600;
  color: #181A18;
  line-height: 1.4;
  margin: 0 0 8px 0;
}

h6 {
  color: #8736AA;
  font-size: 16px;
  font-weight: 700;
  margin: 0 0 10px 0;
}

h6 span {
  color: #181A18;
  text-decoration: underline;
}

/* IMG - VIDEOS - SVG */
img {
  width: 100%;
}

svg.icon {
  width: 24px;
  height: 24px;
}

svg.float {
  width: 60px;
  height: 60px;
  opacity: 0.4;
}

/* LINKS */
a {
  color: #181A18;
  text-decoration: none;
}

a:visited {
  color: #181A18;
}

a:hover,
a:focus {
  color: #B88C46;
}

a:active {
  color: #6E542A;
}

/* Burger Menu */
a.menu {
  color: #181A18;
  text-decoration: none;
}

a.menu:visited {
  color: #181A18;
}

a.menu:hover,
a.menu:focus {
  color: #181A18;
}

a.menu:active {
  color: #D4BA90;
}

/* Link Design Process Phases*/
a.phase {
  font-size: 1.25em;
  font-weight: 500;
  line-height: 1.615;
  color: #181A18;
  text-decoration: underline;
  display: flex;
  justify-content: center;
}

a.phase:visited {
  color: #181A18;
}

a.phase:hover,
a.phase:focus {
  color: #181A18;
}

a.phase:active {
  color: #181A18;
}

/* BUTTONS */
.button {
  display: inline-block;
  background-color: #FFFDFA;
  color: #B88C46;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 16px;
  border-radius: 11px;
  border: 1px solid #B88C46;
  transition: 0.2s background;
}

.button:visited {
  background-color: #FFFDFA;
  color: #B88C46;
}

.button:hover {
  background: #EADDC8;
  color: #B88C46;
  border: 2px solid #B88C46;
}

.button:focus {
  background: #FFFDFA;
  color: #B88C46;
}

.button:active {
  background-color: #F1E8DA;
  color: #B88C46;
  border: 2px solid #B88C46;
}

/* Button Contact*/
.button.contact {
  background-color: #FFFDFA;
  color: #181A18;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 16px;
  border-radius: 11px;
  text-transform: uppercase;
  border: 2px solid #B88C46;
  transition: 0.2s background;
}

.button.contact:visited {
  background-color: #FFFDFA;
  color: #181A18;
}

.button.contact:hover {
  background-color: #B88C46;
  border: 2px solid #6E542A;
  color: #181A18;
}

.button.contact:focus {
  background-color: #FFFDFA;
  color: #181A18;
}

.button.contact:active {
  background-color: #D4BA90;
  border: 2px solid #6E542A;
  color: #181A18;
}

/* LAYOUT STYLING */
* {
  box-sizing: border-box;
}

.container {
  padding: 0 15px;
}

.row {
  margin-top: 25px;
  margin-bottom: 25px;
}

.center {
  text-align: center;
  padding: 1em 0 0 0;
}

#myBtn {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Fixed/sticky position */
  bottom: 10px;
  /* Place the button at the bottom of the page */
  right: 5px;
  /* Place the button 30px from the right */
  z-index: 99;
  /* Make sure it does not overlap */
  border: none;
  /* Remove borders */
  outline: none;
  /* Remove outline */
  background-color: transparent;
  cursor: pointer;
  /* Add a mouse pointer on hover */
  font-size: 0;
  padding: 0;
  width: 50px;
}

/* Header */
.language {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  line-height: 1.4;
}

#french, #english {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
  padding-bottom: 5px;
}

#english {
  margin-left: 15px;
}

.flag {
  width: 18px;
  height: auto;
  line-height: normal;
  display: flex;
  align-items: center;
}

.language a {
  font-size: 0.6em;
  font-weight: 500;
  color: #181A18;
  text-decoration: none;
  margin-left: 5px;
  display: flex;
  align-items: center;
}

.L-active {
  border-bottom: 2px solid #181A18;
}

.logo {
  width: 50px;
  margin-top: -15px;
}

.logo_no_phone {
  display: none;
}

#navigation {
  background-color: #FFFDFA;
  margin: 0;
  display: inline-block;
  position: fixed;
  top: 0;
  width: 100%;
  transition: 0.3s;
  z-index: 1;
}

/* Add a background color to the top navigation */
.topnav {
  background-color: #FFFDFA;
  overflow: hidden;
  margin-top: -50px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #747674;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 17px;
}

/* Add an active class to highlight the current page */
#myTopnav .active {
  background-color: #FFFDFA;
  color: #181A18;
  font-weight: 600;
  text-decoration: underline;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* Dropdown container - needed to position the dropdown content */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Style the dropdown button to fit inside the topnav */
.dropdown .dropbtn {
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 400;
  border: none;
  outline: none;
  color: #747674;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  padding: 18px 16px 14px 16px;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #FFFDFA;
  min-width: 160px;
  box-shadow: 0px 1px 4px 0px rgba(184, 140, 70, 0.38);
  z-index: 1;
}

/* Style the links inside the dropdown */
.dropdown-content a {
  float: none;
  color: #747674;
  padding: 12px 16px;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 400;
  display: block;
  text-align: left;
}

/* Add a background to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #D4BA90;
  color: #181A18;
  font-weight: 600;
  text-decoration: underline;
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Main */
main {
  padding-top: 80px;
}

h1, h2, h3, h4, h5, h6, p {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

/* ExpertsNow */
#overview_expertsnow {
  padding-bottom: 25px;
}

#overview_expertsnow .container {
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

#expertsnowpage h1 {
  line-height: 0.6;
  text-align: center;
}

#overview_expertsnow h3, #brief h3 {
  color: #181A18;
  padding: 0;
}

.cover {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 35px 0 25px 0;
}

.cover img {
  width: 112%;
}

.fas {
  color: #B88C46;
}

#role_timeline {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

#role, #timeline {
  width: 45%;
}

#role p, #timeline p, #process p, #client p, #context p, #objective p {
  margin-left: 34.28px;
}

#contributions {
  width: 100%;
}

.cont_col {
  padding-left: 34.28px;
}

#contributions p {
  margin-top: 0;
  margin-bottom: 0;
}

#tools {
  margin-left: 34.28px;
}

#tools img {
  width: 48px;
  height: 48px;
}

#tools .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 90%;
}

#tools .column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#process picture {
  margin-left: 34.28px;
}

#process img {
  width: 80%;
}

/* Project Brief */
#brief {
  background-color: #E7D7EE;
  padding: 25px 0;
}

#brief h2 {
  text-align: center;
}

#role, #timeline, #tools_used, #contributions, #process, #brief .row, #gifs, #conclusion .row {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

/* Steps */
#discover, #define, #develop, #deliver, #refine, #conclusion {
  padding: 40px 0;
}

#discover .row, #define .row, #develop .row:not-last-child, #deliver .row, #refine .row {
  padding: 30px 0 0 0;
  margin: 0
}

#discover h3, #define h3, #develop h3, #deliver h3, #refine h3, #conclusion h3 {
  margin-top: 10px;
  margin-bottom: 30px;
  font-weight: 600;
  font-weight: 600;
}

#define, #deliver, #conclusion {
  background-color: #E7D7EE;
}

#define .row:first-child {
  margin-bottom: 35px;
}

#solution h5 {
  margin-top: 40px;
  margin-bottom: 8px;
}

.problem {
  margin-top: 40px;
}

.problem span, #change span {
  font-weight: 700;
}

.solution {
  padding-left: 20px;
  margin-bottom: 40px;
}

.solution span {
  font-weight: 700;
  color: #B88C46
}

.gif {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.border img {
  border-radius: 11px;
  margin-bottom: 1em;
}

#change, #example_collab_design, #example_access_design {
  margin-left: 20px;
  margin-right: 20px;
}

#change h6 {
  margin: 40px 0 0 0;
}

#change_signup_2, #wireframing_2 {
  display: none;
}

.caption {
  font-size: 60%;
  text-align: right;
  margin: -15px 0 0 0;
}

#refine .button {
  margin-bottom: 20px;
}

#collab_design, #access_design {
  margin-top: 20px;
  margin-bottom: 20px;
}

#example_collab_design h6, #example_access_design h6 {
  margin: 30px 0 -20px 0;
}

#example_collab_design .center, #example_access_design .center {
  padding: revert;
}

#img_access_design_2 {
  display: none;
}

#final_design {
  margin-top: -40px;
  margin-bottom: -8px;
  overflow: hidden;
}

#final_design img {
  width: 110%;
}

#demo {
  display: none;
}

/* Footer */
#contact {
  display: block;
  padding: 25px 0 25px 0;
}

#contact h2, #contact p {
  color: #181A18;
}

#contact h2.center {
  padding: 0;
}

.column.contact {
  padding: 10px 0 10px 0;
  text-align: center;
}

.column.social.medias {
  padding: 40px 0 25px 0;
  text-align: center;
}

.column.top {
  text-align: right;
}

/* MEDIA QUERIES */
@media only screen and (min-width: 640px) {
  .container {
    padding: 0 25px;
  }

  #navbar {
    padding: 0 25px;
  }

  h1 {
    font-size: 2.10em;
  }

  h6 {
    font-size: 18px;
  }

  body {
    font-size: 18px;
  }

  img {
    width: 80%;
  }

  main {
    padding-top: 83px;
  }

  .logo_phone {
    display: none;
  }

  .logo_no_phone {
    display: inline-block;
  }

  .logo {
    width: 200px;
    margin-top: -17px;
  }

  #rttc {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  #rtt {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
  }

  #role_timeline {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 0;
  }

  #role, #timeline {
    width: 50%;
  }

  #role p, #timeline p {
    margin-bottom: 0;
  }

  #tools_used {
    width: 100%;
    margin-bottom: 0;
  }

  #tools {
    margin-left: 34.28px;
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
  }

  #tools .row {
    width: 45%;
    justify-content: space-around;
    margin-top: 0;
    margin-bottom: 0;
  }

  .cont_col {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 95%;
  }

  #expertsnowpage_FR .cont_col {
    width: 100%;
  }

  #process_img {
    text-align: center;
  }

  #process picture {
    margin-left: 0;
  }

  .div_gif {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  #gifs .problem {
    width: 40%;
  }

  .gif {
    width: 50%;
    text-align: center;
  }

  #gifs .problem {
    margin-top: 0;
  }

  #gifs .problem p {
    padding-left: 20px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .gif img {
    width: 70%;
  }

  #wireframing_1, #change_signup_1 {
    display: none;
  }

  #wireframing_2, #change_signup_2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .full_width img {
    width: 100%;
  }

  #change .problem {
    margin-top: 10px;
  }

  #img_access_design_1 {
    display: none;
  }

  #img_access_design_2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #final_design {
    margin-bottom: -10px;
  }
}

@media only screen and (max-width: 768px) {
  .topnav a, .dropdown .dropbtn {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: center;
  }

  .topnav.responsive .dropdown {
    float: none;
  }

  .topnav.responsive .dropdown-content {
    position: relative;
  }

  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: center;
  }
}

@media only screen and (min-width: 768px) {
  svg.float {
    width: 72px;
    height: 72px;
  }

  #myBtn {
    bottom: 20px;
    right: 30px;
  }

  header {
    text-align: unset;
  }

  .logo {
    width: 230px;
    margin-top: -20px;
  }

  h1 {
    font-size: 2.10em;
  }

  main {
    padding-top: 93px;
  }

  body {
    font-size: 18px;
  }

  #expertsnowpage_EN .cont_col {
    width: 90%;
  }

  #discover .row, #define .row, #develop .row, #deliver .row, #refine .row {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 769px) {
  .topnav {
    float: right;
    margin-top: 0;
  }
}

@media only screen and (min-width: 1024px) {
  .topnav {
    margin-top: 0px;
  }

  #myBtn {
    width: 72px;
  }

  .flag.full_width img, #myBtn img {
    width: 100%;
  }

  #title_cover {
    display: flex;
    flex-direction: column-reverse;
  }

  .cover {
    margin: -20px 0 25px 0;
  }

  .cover img {
    width: 106%;
  }

  #role_timeline {
    flex-direction: column;
    justify-content: flex-start;
    width: 40%;
  }

  #role, #timeline {
    width: 100%;
    max-width: revert;
  }

  #role {
    padding-bottom: 36px;
  }

  #rtt {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 700px;
    margin-right: auto;
    margin-left: auto;
  }

  #tools_used {
    width: 60%;
  }

  #tools {
    flex-direction: column;
    justify-content: flex-start;
  }

  #tools .row {
    justify-content: space-between;
    width: 80%;
  }

  .cont_col {
    width: 100%;
  }

  #wireframing_2 img {
    width: 80%;
  }

  .gif {
    text-align: center;
  }

  .gif img {
    width: 60%;
  }

  #change p, #change_signup_2 {
    padding-left: 20px;
  }

  #change h6 {
    margin-top: 40px;
    margin-left: revert;
    margin-right: revert;
  }

  #change .problem {
    margin-top: 0;
  }

  #change_signup_2 img {
    width: 100%;
  }

  #example_collab_design h6, #example_access_design h6 {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
  }

  #final_design img {
    width: 90%;
  }
}

@media only screen and (min-width: 1280px) {
  .cover img {
    max-width: revert;
  }

  #role {
    padding-bottom: 30px;
  }

  .gif img {
    width: 70%;
  }

  #final_design img {
    width: 80%;
  }
}
