/*
Colors palette:
Primary color :   (dynamic purple) #8736AA
                  (darker) #512066
                  (lighter) #B786CC
                  (white) #FFFDFA
Secondary color:  (dark purple) #4B016E
Accent color:     (yellow) #F3AE18
                  (darker) #92680E
                  (lighter) #F8CE74
*/
/* FONT */
body {
  background-color: #FFFDFA;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.688;
  color: #181A18;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #181A18;
  line-height: 1.2;
  text-align: center;
}

h2, h3 {
  font-family: "Roboto", sans-serif;
}

h2 {
  font-size: 1.625em;
  font-weight: 500;
  color: #181A18;
  line-height: 1.4;
}

h3 {
  font-size: 1.25em;
  font-weight: 400;
  color: #FFFDFA;
  line-height: 1.6;
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  font-weight: 500;
  text-transform: uppercase;
  color: #F3AE18;
  line-height: 1.4;
  text-align: center;
}

/* IMG - VIDEOS - SVG */
img {
  width: 80%;
}

iframe {
  display: none;
}

svg.icon {
  width: 24px;
  height: 24px;
}

svg.float {
  width: 60px;
  height: 60px;
  opacity: 0.4;
}

/* LINKS */
a {
  color: #181A18;
  text-decoration: none;
}

a:visited {
  color: #181A18;
}

a:hover,
a:focus {
  color: #B88C46;
}

a:active {
  color: #6E542A;
}

/* Burger Menu */
a.menu {
  color: #181A18;
  text-decoration: none;
}

a.menu:visited {
  color: #181A18;
}

a.menu:hover,
a.menu:focus {
  color: #181A18;
}

a.menu:active {
  color: #D4BA90;
}

/* Link Design Process Phases*/
a.phase {
  font-size: 1.25em;
  font-weight: 500;
  line-height: 1.615;
  color: #181A18;
  text-decoration: underline;
  display: flex;
  justify-content: center;
}

a.phase:visited {
  color: #181A18;
}

a.phase:hover,
a.phase:focus {
  color: #181A18;
}

a.phase:active {
  color: #181A18;
}

/* BUTTONS */
.button {
  display: inline-block;
  background-color: #B88C46;
  color: #181A18;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 16px;
  border-radius: 4px;
  transition: 0.2s background;
}

.button:visited {
  background-color: #B88C46;
  color: #181A18;
}

.button:hover {
  background: #D4BA90;
  color: #181A18;
}

.button:focus {
  background: #B88C46;
  color: #181A18;
}

.button:active {
  background-color: #6E542A;
  color: #181A18;
}

/* Button Contact*/
.button.contact {
  background-color: #FFFDFA;
  color: #181A18;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 16px;
  border-radius: 11px;
  text-transform: uppercase;
  border: 2px solid #B88C46;
  transition: 0.2s background;
}

.button.contact:visited {
  background-color: #FFFDFA;
  color: #181A18;
}

.button.contact:hover {
  background-color: #B88C46;
  border: 2px solid #6E542A;
  color: #181A18;
}

.button.contact:focus {
  background-color: #FFFDFA;
  color: #181A18;
}

.button.contact:active {
  background-color: #D4BA90;
  border: 2px solid #6E542A;
  color: #181A18;
}

/* LAYOUT STYLING */
* {
  box-sizing: border-box;
}

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
}

.center {
  text-align: center;
}

#myBtn {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Fixed/sticky position */
  bottom: 10px;
  /* Place the button at the bottom of the page */
  right: 5px;
  /* Place the button 30px from the right */
  z-index: 99;
  /* Make sure it does not overlap */
  border: none;
  /* Remove borders */
  outline: none;
  /* Remove outline */
  background-color: transparent;
  cursor: pointer;
  /* Add a mouse pointer on hover */
  font-size: 0;
  padding: 0;
  width: 50px;
}

/* Header */
.language {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  line-height: 1.4;
}

#french, #english {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
  padding-bottom: 5px;
}

#english {
  margin-left: 15px;
}

.flag {
  width: 18px;
  height: auto;
  line-height: normal;
  display: flex;
  align-items: center;
}

.language a {
  font-size: 0.6em;
  font-weight: 500;
  color: #181A18;
  text-decoration: none;
  margin-left: 5px;
  display: flex;
  align-items: center;
}

.L-active {
  border-bottom: 2px solid #181A18;
}

.logo {
  width: 50px;
  margin-top: -20px;
  margin-bottom: 5px;
}

#navigation {
  background-color: #FFFDFA;
  margin: 0;
  display: inline-block;
  box-shadow: 0px 1px 4px 0px rgba(184, 140, 70, 0.38);
  position: fixed;
  top: 0;
  width: 100%;
  transition: 0.3s;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #FFFDFA;
  overflow: hidden;
  margin-top: -50px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #181A18;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 17px;
}

/* Add an active class to highlight the current page */
#myTopnav .active {
  background-color: #FFFDFA;
  color: #B88C46;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* Dropdown container - needed to position the dropdown content */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Style the dropdown button to fit inside the topnav */
.dropdown .dropbtn {
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 500;
  border: none;
  outline: none;
  color: #181A18;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  padding: 18px 16px 14px 16px;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #FFFDFA;
  min-width: 160px;
  box-shadow: 0px 1px 4px 0px rgba(184, 140, 70, 0.38);
  z-index: 1;
}

/* Style the links inside the dropdown */
.dropdown-content a {
  float: none;
  color: #181A18;
  padding: 12px 16px;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 400;
  display: block;
  text-align: left;
}

/* Add a dark background on topnav links and the dropdown button on hover */
.topnav a:hover, .dropdown:hover .dropbtn {
  color: #B88C46;
}

/* Add a grey background to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #D4BA90;
  color: #181A18;
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Main */
main {
  padding-top: 80px;
}

/* ExpertsNow */
.cover {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #8736AA;
  width: 100%;
  height: 200px;
}

.cover img {
  width: 70%;
}

#overview_expertsnow .container {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

#prototype_expertsnow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

#context {
  padding-top: 20px;
}

#role, #timeline, #tools_used {
  padding-top: 10px;
}

#context h3, #role_timeline h3, #tools_used h3 {
  color: #181A18;
  padding: 0;
}

#tools img {
  width: 48px;
  height: 48px;
}

#tools .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

#tools .row:last-child {
  width: 70%;
}

#tools .column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#summary {
  padding-top: 30px;
}

#summary h3, #discover h3, #define h3, #develop h3, #deliver h3, #refine h3, #conclusion h3 {
  padding: 75px 25px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

#summary img {
  padding-top: 15px;
  width: 100%;
}

#summary .column {
  padding: 10px;
}

#summary p {
  text-align: left;
}

.anchor {
  margin-top: -70px;
  margin-bottom: 0;
}

h3.anchor-h {
  margin-top: 60px;
}

.title {
  background-color: #8736AA;
}

#discover, #define, #develop, #deliver, #refine {
  display: inline-block;
  width: 100%;
}

#discover .column, #define .column, #develop .column, #deliver .column, #refine .column {
  padding: 10px 0px 10px 0px;
}

#prototype {
  padding: 50px 0;
}

#conclusion .container {
  padding: 25px 15px;
}

.conclusion {
  display: flex;
  justify-content: center;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

/* Footer */
#contact {
  display: block;
  border-top: 2px solid #B88C46;
  padding: 25px 0 25px 0;
}

#contact h2, #contact p {
  color: #181A18;
}

.column.contact {
  padding: 10px 0 10px 0;
  text-align: center;
}

.column.social.medias {
  padding: 40px 0 25px 0;
  text-align: center;
}

.column.top {
  text-align: right;
}

/* MEDIA QUERIES */
@media only screen and (min-width: 640px) {
  .container {
    padding: 30px 25px;
  }

  #navbar {
    padding: 0 25px;
  }

  .cover {
    height: 50vh;
  }

  h1 {
    font-size: 2.10em;
  }

  main {
    padding-top: 83px;
  }

  body {
    font-size: 18px;
  }

  #role_timeline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  #role, #timeline {
    width: 50%;
  }
}

@media only screen and (max-width: 768px) {
  .topnav a, .dropdown .dropbtn {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: center;
  }

  .topnav.responsive .dropdown {
    float: none;
  }

  .topnav.responsive .dropdown-content {
    position: relative;
  }

  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: center;
  }
}

@media only screen and (min-width: 768px) {
  svg.float {
    width: 72px;
    height: 72px;
  }

  #myBtn {
    bottom: 20px;
    right: 30px;
  }

  header {
    text-align: unset;
  }

  .logo {
    width: 60px;
    margin-top: -15px;
    margin-bottom: 0px;
  }

  h1 {
    font-size: 2.10em;
  }

  main {
    padding-top: 93px;
  }

  body {
    font-size: 18px;
  }

  /* ExpertsNow */
  #logo_expertsnow .row {
    margin: 0;
    padding: 20px 0;
  }

  #logo_expertsnow .row.description {
    margin: 0 40px;
  }

  .anchor {
    margin-top: -96px;
    margin-bottom: 0;
  }

  h3.anchor-h {
    margin-top: 96px;
  }

  #discover img, #define img, #develop img, #deliver img, #refine img {
    margin: 40px auto;
  }

  #summary img {
    width: 100%;
    padding: 20px 0;
  }

  #summary .column {
    padding: 20px 140px;
  }

  .usersneeds {
    width: 60%;
    margin: 0 auto;
  }

  #discover .title {
    background-position: 0px -70px, 525px 157px;
    background-size: 100%, 20%;
  }

  #define .title {
    background-position: 0px -100px, 525px 265px;
    background-size: 100%, 20%;
  }

  #develop .title {
    background-position: 0px -75px, 525px 180px;
    background-size: 100%, 20%;
  }

  #deliver .title {
    background-position: 0px -85px, 525px 230px;
    background-size: 100%, 20%;
  }

  #refine .title {
    background-position: 0px -100px, 525px 170px;
    background-size: 100%, 20%;
  }

  iframe {
    width: 480px;
    height: 270px;
  }
}

@media only screen and (min-width: 769px) {
  .topnav {
    float: right;
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    padding: 0 50px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .cover {
    height: 45vh;
  }

  .cover img {
    width: 30%;
  }

  h1 {
    font-size: 2.10em;
  }

  h2 {
    padding-bottom: 20px;
  }

  .col-lg-7 {
    width: 60%;
  }

  .col-lg-5 {
    width: 40%;
  }

  [class*="col-"] {
    float: left;
    padding: 0 25px;
  }

  #myBtn {
    width: 72px;
  }

  /* ExpertsNow */
  #tools {
    display: flex;
    flex-direction: row;
  }

  #tools .row:first-child {
    justify-content: space-around;
    width: 50%
  }

  #tools .row:last-child {
    justify-content: space-around;
    width: 40%;
  }

  #summary .img {
    width: 100%;
    padding: 20px 0;
  }

  #summary .row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 0;
  }

  #summary .column {
    padding: 10px 20px;
    width: 20%;
  }

  #summary img {
    padding-top: 0;
    width: 100%;
    max-width: 1200px;
  }

  #discover .row, #define .row, #develop .row, #deliver .row, #refine .row {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
  }

  #discover .column, #define .column, #develop .column, #deliver .column, #refine .column {
    width: 100%;
    max-width: 1200px;
    text-align: left;
  }

  #discover img, #define img, #develop img, #deliver img, #refine img {
    width: 60%;
  }

  iframe {
    width: 560px;
    height: 315px;
  }
}

@media only screen and (min-width: 1280px) {
  .cover {
    height: 50vh;
  }

  #overview_expertsnow .container {
    max-width: 1200px;
  }

  .conclusion {
    max-width: 1200px;
  }

  #tools {
    width: 75%;
  }

  #summary h3, #discover h3, #define h3, #develop h3, #deliver h3, #refine h3, #conclusion h3 {
    max-width: 1200px;
  }
}
