/*
Colors palette:
Primary color : (black) #000000 (grey) #757575
Secondary color: (white) #FFFFFF
Accent color: (blue) #1585D7
              (hover) #1066A3
              (active) #234157
*/

body {
  background-color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.688;
  color: #000000;
}
h1, h2, h3, h4 {
  background-color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
}
h1 {
  font-size: 2.625em;
  font-weight: 700;
  line-height: 1.548;
  color: #000000;
}
h2 {
  font-size: 2.063em;
  font-weight: 700;
  line-height: 1.576;
  color: #000000;
}
h3 {
  font-size: 1.625em;
  font-weight: 400;
  line-height: 1.615;
  color: #000000;
}
h4 {
  font-size: 1.25em;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.65;
  color: #1585D7;
}

img {
  width: 100%;
}

iframe {
  width: 100%;
}

a {
  background-color: #FFFFFF;
  color: #1585D7;
  text-decoration: none;
}
a:hover,
a:focus {
  background-color: #FFFFFF;
  color: #1066A3;
  text-decoration: underline;
}
a:visited {
  background-color: #FFFFFF;
  color: #1585D7;
}
a:active {
  background-color: #FFFFFF;
  color: #234157;
}
a.phase {
  font-size: 1.625em;
  font-weight: 400;
  line-height: 1.615;
  background-color: #FFFFFF;
  color: #1585D7;
  text-decoration: underline;
}

.button {
  display: inline-block;
  background-color: #1585D7;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #1585D7;
  transition: 0.2s opacity;
}
.button:hover,
.button:focus {
  opacity: 0.8;
  text-decoration: none;
}
.button:visited {
  background-color: #1585D7;
  color: #FFFFFF;
}
.button:active {
  background-color: #234157;
  color: #FFFFFF;
}

.button.contact {
  background-color: transparent;
  color: #1585D7;
  text-transform: uppercase;
  border: 2px solid #1585D7;
}
.button.contact:hover,
.button.contact:focus {
  background-color: #1585D7;
  opacity: 0.8;
  color: #FFFFFF;
}
.button.contact:visited {
  background-color: transparent;
  color: #1585D7;
}
.button.contact:active {
  background-color: transparent;
  color: #234157;
}
