/*
Colors palette:
Primary color : (black) #000000 (grey) #757575
Secondary color: (white) #FFFFFF
Accent color: (blue) #1585D7
              (hover) #1066A3
              (active) #234157
*/

/* FONT */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.688;
  color: #000000;
}

h1, h2, h3, h4 {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
}

h1 {
  font-size: 2.063em;
  font-weight: 500;
  color: #000000;
}

h2 {
  font-size: 1.625em;
  font-weight: 500;
  color: #000000;
}

h3 {
  font-size: 1.25em;
  font-weight: 400;
  color: #000000;
}

h4 {
  font-size: 1em;
  font-weight: 500;
  text-transform: uppercase;
  color: #1585D7;
}

/* IMG - VIDEOS - SVG */
img {
  width: 100%;
}

iframe {
  width: 100%;
}

svg.icon {
  width: 24px;
  height: 24px;
}
svg.float {
  width: 72px;
  height: 72px;
  opacity: 0.5;
}

/* LINKS */
a {
  color: #1585D7;
  text-decoration: none;
}

a:visited {
  color: #1585D7;
}

a:hover,
a:focus {
  color: #1066A3;
  text-decoration: underline;
}

a:active {
  color: #234157;
}

/* Link Design Process Phases*/
a.phase {
  font-size: 1.625em;
  font-weight: 400;
  line-height: 1.615;
  color: #1585D7;
  text-decoration: underline;
}

/* LAYOUT STYLING */
* {
  box-sizing: border-box;
}

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
}

.center {
  text-align: center;
}

/* Header */
.logo {
  width: 48px;
  height: 48px;
  text-align: center;
}

header {
  background-color: #FFFFFF;
  padding: 10px 0;
  text-align: center;
  display: inline-block;
  box-shadow: 0px 1px 4px 0px rgba(75, 75, 75, 0.38);
  position: fixed;
  width: 100%;
}

/* Nav Bar */
nav>ul {
  list-style-type: none;
  padding: 0;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 0 12px;
  text-transform: uppercase;
  font-weight: 500;
  color: #000000;
}

nav>ul>li>a:visited {
  padding: 0 12px;
  text-transform: uppercase;
  font-weight: 500;
  color: #000000;
}

nav>ul>li>a:hover, a:focus {
  padding: 0 12px;
  text-transform: uppercase;
  font-weight: 700;
  color: #1585D7;
}

nav>ul>li>a:active {
  padding: 0 12px;
  text-transform: uppercase;
  font-weight: 700;
  color: #1585D7;
}

nav {
  display: inline-block;
  width: 100%;
}

/* Main */
main {
  padding-top: 133px;
}
span.blue {
  color: #1585D7;
}

/* Index */
#hero {
  background-color: #FFFFFF;
  padding: 25px 0 25px 0;
  display: inline-block;
  width: 100%;
}

#work {
  padding: 25px 0 25px 0;
  display: inline-block;
  width: 100%;
}

#expertsnow {
  padding-bottom: 25px;
  border-bottom: 1px solid #75757575;
}

#myportfoliowebsite {
  padding-bottom: 25px;
}

/* ExpertsNow */
#intro {
  background-color: #FFFFFF;
  padding: 25px 0 25px 0;
  display: inline-block;
  width:100%;
}

#logo_expertsnow {
  background-color: #4A016D;
  display: inline-block;
  padding-bottom: 25px;
  margin: 40px auto 0px auto;
  border-radius: 4px;
}

#logo_expertsnow .column {
  padding: 10px 20px 10px 20px;
  text-align: center;
}

span.white {
  color: #FFFFFF;
}

#overview {
  display: inline-block;
  width: 100%;
}

.row.skillstools2 {
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 0 auto;
  width: 100%;
}

#overview .column.overview {
  padding: 10px 0px 10px 0px;
}

#summary .column {
  text-align: center;
  padding: 10px 10px 10px 10px;
}

#process {
  display: inline-block;
  width: 100%;
}

#process .row {
  padding-top: 25px;
}

#process .column {
  padding: 10px 0px 10px 0px;
}

.img {
  padding: 15px 0px 15px 0px;
}

.prototype {
  display: block;
  margin: auto;
  padding: 50px 0;
  width: auto;
  text-align: center;
}

#conclusion .row {
  padding-bottom: 25px;
}

/* About */
#title {
  padding-top: 25px;
}

#me {
  padding: 25px 0 25px 0;
  display: inline-block;
  width: 100%;
}

#skillstools {
  padding-top: 25px;
}

.row.skillstools {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin: 0 auto;
  width: 100%;
}

.column.skillstools {
  display: inline-block;
  margin: 0 auto;
  padding: 10px 5px 10px 5px;
  text-align: center;
  width: 66px;
  height: 120px;
}

/* Footer */
#contact {
  display: block;
  border-top: 2px solid #75757575;
  padding: 25px 0 25px 0;
}

.column.contact {
  padding: 10px 0 10px 0;
  text-align: center;
}

.column.social.medias {
  padding: 40px 0 25px 0;
  text-align: center;
}

.column.top {
  text-align: right;
}

/* BUTTONS */
.button {
  display: inline-block;
  background-color: #1585D7;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 16px;
  border-radius: 4px;
  border-bottom: 2px solid #1585D7;
  transition: 0.2s opacity;
}

.button:visited {
  background-color: #1585D7;
  color: #FFFFFF;
}

.button:hover,
.button:focus {
  opacity: 0.8;
  text-decoration: none;
}

.button:active {
  background-color: #234157;
  color: #FFFFFF;
}

/* Button Contact*/
.button.contact {
  background-color: transparent;
  color: #1585D7;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 16px;
  border-radius: 4px;
  text-transform: uppercase;
  border: 2px solid #1585D7;
}

.button.contact:hover,
.button.contact:focus {
  background-color: #1585D7;
  opacity: 0.8;
  color: #FFFFFF;
}

.button.contact:visited {
  background-color: transparent;
  color: #1585D7;
}

.button.contact:active {
  background-color: transparent;
  color: #234157;
}

/* Button outlined*/
.button.outlined {
  margin: auto;
  width: auto;
  background-color: transparent;
  color: #1585D7;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 16px;
  border-radius: 4px;
  text-transform: capitalize;
  border: 2px solid #1585D7;
}

.button.outlined:hover,
.button.outlined:focus {
  background-color: #1585D7;
  opacity: 0.8;
  color: #FFFFFF;
}

.button.outlined:visited {
  background-color: transparent;
  color: #1585D7;
}

.button.outlined:active {
  background-color: transparent;
  color: #234157;
}
